body{
    text-align: center;
}

#colorBox{
    height: 300px;
    width: 300px;
    border: 2px solid #000000;
    margin: 0 auto;
}

#colorCode{
    font-size: 20px;
}

#generateColrBtn{
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
}

#copyCode{
    background: #0984e3;
    color: yellow;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

#copyCode:hover{
    background: #065fa3;
}